NET "Clk_50MHz" LOC = P56 | IOSTANDARD = LVTTL;

NET "xCount<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "xCount<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "xCount<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "xCount<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "xCount<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "xCount<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "xCount<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "xCount<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "Data_Input" LOC = P50 | IOSTANDARD = LVTTL ; 
NET "Clk_Out" LOC = P40 | IOSTANDARD = LVTTL ;
NET "Shift_Load" LOC = P30 | IOSTANDARD = LVTTL ; 

NET "zData" LOC = P51 | IOSTANDARD = LVTTL ; 
NET "zClock" LOC = P41 | IOSTANDARD = LVTTL ;
NET "zLatch" LOC = P35 | IOSTANDARD = LVTTL ;