//! **************************************************************************
// Written by: Map P.20131013 on Fri May 04 15:44:31 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Rst_OnBoard" LOCATE = SITE "P38" LEVEL 1;
PIN Rst_OnBoard_pin<0> = BEL "Rst_OnBoard" PINNAME PAD;
PIN "Rst_OnBoard_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED_Output<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "LED_Output<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "Clk_50MHz" LOCATE = SITE "P56" LEVEL 1;
COMP "LED_Output<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED_Output<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED_Output<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED_Output<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED_Output<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED_Output<7>" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

